.btn-item {
  background-color: #ee6f1e; /* Green */
  border: none;

  color: white;
  padding: 10px 28px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn-item:hover {
  color: white;
}
.btn-item-link {
  border: none;

  color: blue;
  padding: 15px 32px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 953px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
